.header {
  height: 50px;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(34, 60, 80, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.link {
  text-decoration: none;
}